body {
    font-family: Work Sans;
    line-height: 1.5;
}
.emoji {
    font-family: apple color emoji,segoe ui emoji,notocoloremoji,segoe ui symbol,android emoji,emojisymbols,emojione mozilla;
    font-size: 500%;
    text-align: center;
}

#app {
    width: 80%;
    margin: 50px auto;
}

#long-description {
    width: 70%;
    text-align: left;
    margin: auto;
}

.header {
    text-align: center;
    margin-bottom: 50px;
}

.device {
    width: 60%;
    margin: auto;
}

.warning {
    color: red;
}

#loading {
    width: 100px;
    display: block;
    margin: auto;
}

.info {
    margin-bottom: 20px;
}

a, a:visited {
    color: black;
}
